.heading{
    border-left: 4px solid var(--primary);
}
.list-group-item{
    background-color: transparent !important;
}
.badge h5{
    margin: 0 !important;
}
.img-thumbnail{
    cursor: pointer !important;
}
#imagen{
    max-width: 100%;
}
